#address{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    height: 500px;
    margin:40px 280px 200px 275px;
}
.free{
    border: 1px solid #546E7A;
    height: 30px;
    margin-top: 33px;
    background-color: #546E7A;
    margin-bottom: 20px;
}
.free1{
    /* border: 1px solid red; */
    margin-top: 5px;
    margin-left: 10px;
    color: #EEEEEE;
}
.add1{
    /* border: 1px solid red; */
    height: 500px;
    margin-top: 8%;

}
.add11{
    border: 1px solid whitesmoke;
    height: 400px;
}
.add111{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    height: 40px;
}
.a1{
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-left: 15px;
}
.form{
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 10px;
}
.p1{
    height: 40px;
    margin-bottom: 30px;
}
input#input1{
    padding-left: 20px;
    height: 40px;
    width: 80%;
    border: 1px solid whitesmoke;
}
input#input2{
    padding-left: 20px;
    height: 40px;
    width: 45%;
    margin-bottom: 30px;
    border: 1px solid whitesmoke;
}
input#input3{
    padding-left: 20px;
    height: 40px;
    width: 15%;
    margin-left: 4%;
    border: 1px solid whitesmoke;
    margin-bottom: 30px;
}
input#input4{
    padding-left: 20px;
    height: 40px;
    width: 15%;
    border: 1px solid whitesmoke;
    /* margin-bottom: 30px; */
}
input#input5{
    padding-left: 20px;
    height: 40px;
    width: 15%;
    margin-left: 4%;
    border: 1px solid whitesmoke;
    /* margin-bottom: 30px; */
}
.pay{
    border: 1px solid #e40980;
    width: 25%;
    height: 40px;
    background-color: #e40980;
    border-radius: 3px;
    font-size: 20px;
    
}
.pay1{
    /* border: 1px solid red; */
    margin: 6% 18% 10% 35%;
    color: white;
    
}

.net{
    border: 1px solid whitesmoke;
    margin-top: 20px;
}
.net1{
    border: 1px solid whitesmoke;
    height: 40px;
    background-color: whitesmoke;
}
.net11{
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-left: 15px;
}
.net2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 80%;
    margin-top: 20px;
}
.bank{
    height: 60px;
    border-radius: 60%;
    margin-left: 20px;
}
.bank1{
    margin-left: 30px;
    color: #BDBDBD;
}
.sbi{
    margin-left: 35px;
}

.payment{
    border: 1px solid whitesmoke;
    margin-top: 20px;
}
.payment1{
    border: 1px solid whitesmoke;
    height: 40px;
    background-color: whitesmoke;
}
.payment11{
    margin-top: 10px;
    margin-left: 15px;
}

.wallet{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 5% 10% 60%;
    height: 90px;
    

}
.w1{
    /* border: 1px solid red; */
    margin-top: 41px;
    margin-left: 17px;
    font-size: 20px;
    color: #BDBDBD;
}
.w2{
    /* border: 1px solid red; */
    margin-left: 25px;
    margin-top: 25px;
    
}
.w3{
    /* border: 1px solid red; */
    margin-top: 17px;
    margin-left: 25px;
    margin-top: 42px;
}
.i1{
    height: 50px;
}
.i3{
    height: 40px;
}
.empty{
    border: 0.5px solid whitesmoke;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 5px;
}
.wallet1{
    display: grid;
    grid-template-columns: 10% 80%;
    height: 90px;
}
.pod{
    /* border: 1px solid red; */
    margin-top: 40px;
}
a {
    color: white;
    text-decoration: none;
}
.a9{
    color: white;
}


.add2{
    /* border: 1px solid red; */
    height: 480px;
}
.add21{
    border: 2px solid whitesmoke;
    height: 35px;
    color: #757575;
    text-align: center;
    padding-top: 15px;
    margin-top: -12px;
    border-radius: 3px;
}
.add22{
    /* border: 1px solid red; */
    margin-top: 15px;
    line-height: 1.8;
}
.add2span1{
    font-size: 13px;
    color: #616161;
}
.add2span2{
    margin-left: 17%;
    color: #e40980;
}
.add23{
    border: .5px solid whitesmoke;
    margin-top: 10px;
}
.add24{
    margin-top: 10px;
    font-size: 15px;
}
.add26{
    line-height: 2;
    color: #616161;
}
.add261{
    color: #212121;
}
.add263{
    margin-left: 59%;
}
.add265{
    margin-left: 50%;
    color: #e40980;
}
.add267{
    margin-left: 65%;
}
.add269{
    margin-left: 48%;
}
.add28{
    line-height: 2;
}
.add281{
    font-size: 18px;
    color: #212121;
}
.add282{
    font-size: 20px;
    margin-left: 53%;
}
.add283{
    color: #616161;
}
.add284{
    color: #616161;
    margin-left: 65%;
    color: #e40980;
}
.h3add1{
    margin-left: 0px;
}
.padd1{
    
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.3;
}